<section class="p-8 ">
  <p class="text-teal-600 font-medium text-center">OUR FEATURES</p>
  <h2 class="text-3xl text-center font-semibold mb-6">Better Digital Insurance Begins Right Here</h2>
  <div class="grid justify-items-center grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-6">
    <div class="service-card p-4 bg-white rounded shadow-lg max-w-56 max-h-64">
      <img src="../../../assets/features/money-back.png" class="w-16">
      <h3 class="text-xl font-semibold mb-2">Money Back Guarantee</h3>
      <p class="text-gray-600">Description of Feature Money back Guarantees</p>
    </div>
    <div class="service-card p-4 bg-white rounded shadow-lg max-w-56 max-h-64">
      <img src="../../../assets/features/claim.png" class="w-16">
      <h3 class="text-xl font-semibold mb-2">All Claims At Anytime</h3>
      <p class="text-gray-600">Lorem Ipsum is simply dummy text of the printing </p>
    </div>
    <div class="service-card p-4 bg-white rounded shadow-lg max-w-56 max-h-64">
      <img src="../../../assets/features/insurance-policy.png" class="w-16">
      <h3 class="text-xl font-semibold mb-2">Digital Insurance Policy</h3>
      <p class="text-gray-600">standard dummy text ever since the 1500s</p>
    </div>
    <div class="service-card p-4 bg-white rounded shadow-lg max-w-56 max-h-64">
      <img src="../../../assets/features/mobile-payment.png" class="w-16">
      <h3 class="text-xl font-semibold mb-2">Direct Payment App</h3>
      <p class="text-gray-600">when an unknown printer took a galley  specimen book</p>
    </div>
  </div>
</section>

<section class="p-8 bg-gray-50">
  <p class="text-teal-600 font-medium text-center">INSURANCE SERVICES</p>
  <h2 class="text-3xl text-center font-semibold mb-6">Take The Worry Out Of Life With Insurance Protection</h2>

  <div class="grid justify-items-center grid-cols-1 md:grid-cols-3 gap-6">

      <div class="relative w-64 h-64">
          <img src="../../../assets/features/services-1.jpg" class="absolute top-0 left-0 w-full h-full justify-center">
          <div class="absolute top-40 left-4 w-52 h-14 bg-teal-600 text-white m-4 rounded-sm z-10 opacity-85 p-1 py-2">
            <div class="flex text-xs font-light ">
                <ul clsss="">INSURANCE</ul>
                <li class="pl-2">HEALTH</li>
            </div>
          <p>Health Insurance</p>
        </div>
      </div>

      <div class="relative w-64 h-64">
        <img src="../../../assets/features/services-2.jpg" class="absolute top-0 left-0 w-full h-full justify-center">
        <div class="absolute top-40 left-4 w-52  h-14 bg-teal-600 text-white m-4 rounded-sm z-10 opacity-85 p-1 py-2">
          <div class="flex text-xs font-light ">
              <ul clsss="">INSURANCE</ul>
              <li class="pl-2">VEHICLE</li>
          </div>
        <p>Vehicle Insurance</p>
      </div>
    </div>

    <div class="relative w-64 h-64">
      <img src="../../../assets/features/services-3.jpg" class="absolute top-0 left-0 w-full h-full justify-center">
      <div class="absolute top-40 left-4 w-52 h-14 bg-teal-600 text-white m-4 rounded-sm z-10 opacity-85 p-1 py-2">
        <div class="flex text-xs font-light ">
            <ul clsss="">INSURANCE</ul>
            <li class="pl-2">CAR</li>
        </div>
      <p>Car Insurance</p>
    </div>
  </div>
  </div>
</section>
  