<section class="text-center p-8 flex flex-col gap-4 max-w-4xl mx-auto">
  <p class="font-medium text-sm text-teal-600">READY TO GET STARTED</p>
    <h2 class="text-3xl font-semibold mb-4">Get The Latest Insurance News In Minutes</h2>
    <p class="text-sm text-gray-500">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <div class="">
      <input type="email" placeholder="Email address" class="border-2 py-1 bg-gray-100 ">
      <button class="bg-teal-600 text-white px-2 py-1 border-2 border-teal-600">Subscribe</button>
    </div>
    
</section>
  